<!DOCTYPE html>
<html>
<head>
    <title>ThisPatch</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="989019791931-7sknrf9kk5eotfrtmfjimj2fhlsfr6u7.apps.googleusercontent.com">
    {#google login OAuth2.0 script#}
    <script>
        /* google login OAuth2.0 */
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>

</head>
<body>
<div id="title">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="{{ url_for('index') }}"><h1>ThisPatch</h1></a>
    <h5> 뉴스는 '팩트'다</h5>
</div>
<div class="mainNews">
    <img src="{{ url_for('static', filename='Image/mainPhoto.png') }}" class="center">
</div>
<div id="category">
    <div id="photoCategory">
        <h4>Ranking News</h4>
        <a href="{{ url_for('news') }}" class="RankingNews">
            <img src="{{ url_for('static', filename='Image/news1.jpg') }}" width="100%">
            <div>박성광 "송이 매니저, 악플로 고생하다 퇴사..정말 미안"</div>
        </a>
        <a href="{{ url_for('news') }}" class="RankingNews">
            <img src="{{ url_for('static', filename='Image/news2.jpg') }}" width="100%">
            <div>손흥민 "먹고 싶은 북한음식? 우리가 관광객인가요"</div>
        </a>
        <a href="{{ url_for('news') }}" class="RankingNews">
            <img src="{{ url_for('static', filename='Image/news3.jpg') }}" width="100%">
            <div>"아들 형호, 죽길 바라죠?"...'그알'이 다시 제보받는 사건</div>
        </a>
        <a href="{{ url_for('news') }}" class="RankingNews">
            <img src="{{ url_for('static', filename='Image/news4.jpg') }}" width="100%">
            <div>상간녀 지목된 프로골퍼 "유부남인 줄 안후 만남 끊었다 "</div>
        </a>
        <a href="{{ url_for('news') }}" class="RankingNews">
            <img src="{{ url_for('static', filename='Image/news5.jpg') }}" width="100%">
            <div>'결혼' 강남♥이상화 웨딩화보 공개</div>
        </a>
    </div>

    <div>
        <h4>Photo</h4>
        <p>
            <a href="{{ url_for('news') }}" class="Photo">
                <img src="{{ url_for('static', filename='Image/photo1.jpg') }}" width="70%">
                <span><br>[현장포토] "꽃미소 홀릭"...김고은, 러블리 스마일</span>
            </a>
        </p>
        <br>
        <p>
            <a href="{{ url_for('news') }}" class="Photo">
                <img src="{{ url_for('static', filename='Image/photo2.jpg') }}" width="70%">
                <span><br>[현장포토] "세월이 멈췄어"...엄정화, 불변의 미모</span>
            </a>
        </p>
    </div>
</div>
</body>
</html>
